html {
    padding:0;
    height:100%;
}

* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'HTDJ';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/HTDJ.woff) format('woff');
}

@font-face {
	font-family: 'arfmoochikncheez';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/arfmoochikncheez.woff) format('woff');
}

body {
    margin:0;
    max-width:100%;
}

h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*or font family*/
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 48px;
}

h2 {
    color:black;
    font-family:arfmoochikncheez;
    text-align: left;
    font-size: 30px;
    letter-spacing: 1px;
}

p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    color: #333333;
}

.header {
    position:relative;
    text-align: center;
    background-image: linear-gradient(#6cf, rgba(0,0,255,0.5) 100%);
    color: #000000;
}

.inner-header {
    height:50vh;
    width:100%;
    margin: 0;
    padding: 0;
}

.inner-header img {
    min-height:15vh;
    max-height:40vh;
    max-width:100%;
}

.flex {
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
}

.waves {
    position: relative;
    width: 100%;
    height:15vh;
    margin-bottom: -7px;
    min-height: 100px;
    max-height: 150px;
}

.content {
    position: relative;
    height:20vh;
    text-align:center;
    background-color: #24b7ec;
}

/*Animation*/

.parallax > use {
    animation: move-forever 25s
    cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}

@media (max-width: 768px) {
    .waves {
        height:40px;
        min-height: 40px;
    }

    .content {
        height:30vh;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
    }
}

.logomove {
    position: relative;
    animation-name: rocking;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rocking {
    0% {
        transform: rotate(-25deg) ;
    }

    50% {
        transform: rotate(25deg);
    }

    100% {
        transform: rotate(-25deg);
    }
}

@media (max-width: 600px) {
    .logomove {
        max-width: 80%;
    }
}


.container {
    background-color: rgba(26,26,26,1); 
    background: linear-gradient(rgba(26,26,26,1),rgb(245,245,245) 100%);
    padding:20px;
    max-width: 100%;
}

.sub-container {
    margin-top:60px;
    padding: 5px 10px;
    width: 100%;
    background-color: lightgray;
    border: solid black 2px;
    border-radius: 20px;
    color: black;
}

.sub-container h1 {
    color:black;
    font-family:arfmoochikncheez;
}

.sub-container p {
    color: black;
}

.sub-container img {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    max-width: 600px;
    border-radius: 5px;
}

.sub-container ul {
    list-style-type:square;
    font-size: 20px;
}
.sub-container li{
    padding-top:10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
}

@media (max-width:768px) {
    .sub-container ul {
        font-size: 14px;
    }
}

.footer {
    width:100%;
    height:250px;   /* Height of the footer */
    background: black;
    border-top: solid black 2px;
    color:white;
    text-align:center;

 }

.footer p,h1,h4 {
    width:100%;
    text-align:center;
    color:white;
}